.header-menu-link-active::after{
    content: "";
    transform-origin: right;
    background: white;
    width: 100%;
    height: 1px;
    transition: transform .3s;
    -webkit-font-smoothing: antialiased;
    position: absolute;
    top: 30px;
    left: 0px;
    align-items: center;
    transform: scaleX(0);
}
.header-menu-link-active:hover::after{
    transform-origin: left;
    transform: scaleX(1);
}

.offcanvas{
    transition: transform .6s cubic-bezier(.75,0,.175,1),visibility .6s cubic-bezier(.75,0,.175,1) ;
}